<nav>
  <%= link_to 'All Shelters', '/shelters' %>
  <%= link_to 'Available Pets', '/pets' %>
</nav>
<h2>Available Pets at <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h2>
<% @pets.each do |pet| %>
  <%= image_tag(pet.image) %>
  <h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
  <p>Approximate Age: <%= pet.approx_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <%= link_to "Edit Info for #{pet.name}", "/pets/#{ pet.id }/edit" %>
  <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %><br/>
<% end %>
<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
