<h2>Available Pets at <%= "#{@shelter.name}" %></h2>
<% @pets.each do |pet| %>
  <%= image_tag(pet.image) %>
  <h3><%= pet.name %></h3>
  <p>Approximate Age: <%= pet.approx_age %></p>
  <p>Sex: <%= pet.sex %></p>
<% end %>
