<nav>
  <%= link_to 'All Shelters', '/shelters' %>
  <%= link_to 'Available Pets', '/pets' %>
</nav>
<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %><br/>
<%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>
<%= link_to "See Our Pets", "/shelters/#{ @shelter.id }/pets" %>
<%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>

<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>

<% @reviews.each do |review| %>
<p> <%= review.title %><br>
  Rating: <%= review.rating %><br>
  <%= review.content %><br>
  <%= image_tag(review.image) %><br>
  <%= review.user %>
</p>
<% end %>
