<h1>Application</h1>
<section class="user-info">
  <h3><%= @application.user.name %></h3><br/>
  <%= @application.user.full_address %>
</section>
<br>
<section class="application">
  <%= @application.description %><br/>
  <% @application.pets.each do |pet| %>
  <%= link_to pet.name, "/pets/#{pet.id}" %>
  <% end %><br/>
  <%= @application.status %><br/>
</section>

<% if !@application.pets.empty? %>
<section class="submit-app">
  <%= form_tag "/applications/#{@application.id}", method: :patch do %>
  <%= label_tag :description %>
  <%= text_field_tag :description, "Why are you a good owner for this pet?" %>
  <%= submit_tag "Submit Application" %>
  <% end %>
</section>
<% end %>

<% if @application.status == "In Progress" %>
<section class="find-pet">
  <%= form_tag "/applications/#{@application.id}", method: :get do %>
  <%= label_tag :pet_name %>
  <%= search_field_tag :pet_name, "Find Pet" %>
  <%= submit_tag "Submit" %>
  <% end %>
</section><br/>
<section class="pet-results">
  <% @pets.each do |pet| %>
  <section id="pet-<%= pet.id %>">
  <%= image_tag(pet.image) %><br/>
  <p>Pet Name: <%= pet.name %></p>
  <p>Age: <%= pet.approx_age %></p>
  <p>Sex: <%= pet.sex%></p><br/>
  <%= button_to "Adopt This Pet", "/applications/#{@application.id}", method: :patch, params: {pet: pet} %>
  </section>
  <% end %>
</section>
<% end %>
