<h1>Application</h1>
<section class="user-info">
  <%= @application.user.name %>
  <%= @application.user.full_address %>
</section>
<section class="application">
  <%= @application.description %>
  <% @application.pets.each do |pet| %>
  <%= link_to pet.name, "/pets/#{pet.id}" %>
  <% end %>
  <%= @application.status %>
</section>
