<h3>Meet <%= @pet.name %>!</h3>
<%= image_tag(@pet.image) %>
<p>Description: <%= @pet.description %></p>
<p>Approximate Age: <%= @pet.approx_age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoptable: <%= @pet.adoptable%></p>
<%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>
<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
<%= link_to "All Applications", "/pet-applications" %>
