<h1><%= @user.name %></h1>
<p><%= @user.address %><br/>
<%= @user.city %>, <%= @user.state %> <%= @user.zip %></p>

<h2>Highlight Reviews</h2>
<section class="average">
  <h3><%= @user.name %>'s Average Rating:</h3>
  <% if @user.average_review.nan? %>
  No reviews have been made
  <% else %>
  <%= @user.average_review.round(2) %>
  <% end %>
</section>
<br>
<br>
<section class="best">
  <h3><%= @user.name %>'s Best Rated Shelter</h3>
  <%= image_tag @user.best_review[:image] if @user.best_review[:image]%>
  <p><%= @user.best_review[:title] %></p>
  <p>Rating: <%= @user.best_review[:rating] %></p>
  <p>Review: <%= @user.best_review[:content] %></p>
</section>
<br/>
<br/>
<section class="worst">
  <h3><%= @user.name %>'s Worst Rated Shelter</h3>
  <%= image_tag @user.worst_review[:image] if @user.worst_review[:image]%>
  <p><%= @user.worst_review[:title] %></p>
  <p>Rating: <%= @user.worst_review[:rating] %></p>
  <p>Review: <%= @user.worst_review[:content] %></p>
</section>

<h1><%= @user.name %>'s Reviews:</h1>
<% @reviews.each do |review| %>
<p>Review Title: <%= review.title %><br>
  Rating: No reviews have been made
   Rating: <%= review.rating %><br>
  Rating Content<%= review.content %><br>
</p>
<% end %>
