<h1><%= @user.name %></h1>
<p><%= @user.address %><br/>
<%= @user.city %>, <%= @user.state %> <%= @user.zip %></p>

<h2>Highlight Reviews</h2>
<section class = "best">
  <%= @best_review[:title] %>
  <%= @best_review[:rating] %>
  <%= @best_review[:content] %>
  <%= image_tag @best_review[:image] %>
</section>

<section class = "worst">
  <%= @worst_review[:title] %>
  <%= @worst_review[:rating] %>
  <%= @worst_review[:content] %>
  <%= image_tag @worst_review[:image] %>
</section>

<% @reviews.each do |review| %>
<h1><%= @user.name %>: Reviews</h1>
<p> <%= review.title %><br>
  Rating: <%= review.rating %><br>
  <%= review.content %><br>
</p>
<% end %>
